/*body styling*/
body {
    background-image: url("../img/index/background.jpg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    h1 {
        text-align: center;
        font-size: 40px;
    }

    div {
        justify-content: center;
        display: flex;
        align-items: center;

        .verde {
            margin-left: 1%;
            color: lime;
        }

    }

    nav {
        width: 50%;
        height: auto;
        border: 1px solid black;
        border-radius: 30px;
        background-color: gray;
        margin-bottom: 2%;

        ul {
            margin-bottom: 3px;
            margin-right: 20px;

            li {
                transition: 0.5s;
                margin-right: 20px;
                margin-bottom: 10px;
                border: 0px solid black;
                border-radius:10px;
                background-color: darkgray;
                display: inline-flex;
                list-style-type: none;
                font-size: 25px;
            }

            li:last-child {
                margin-right: 0;
            }

            li:hover {
                transition: 0.5s;
                transform: scale(1.05);
            }
        }
    }
}

.quem {
    font-size: 32px;
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: gray;
    text-align: center;
}

table {
    border-collapse: collapse;
    background-color: blue;
    width: 90%; 
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; 
}

th, td {
    border: 2px solid lime;
    padding: 50px;
    text-align: center;
    font-family: Arial, sans-serif; /* Modern font */
    font-size: 16px; /* Adjusted font size for consistency */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.7s, font-size 1.5s; 
}

td img {
    width: 300px; /* Fixed width for images */
    height: auto;
    border-radius: 5px;
}

th {
    background-color: blue;
    color: #ffffff; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
}

td:hover {
    transition: 1.5s;
    transform: scale(1.02);
    font-size: 30px;
}

tr {
    transition: 1.5s;
}

tr:hover {
    transition: 1.5s;
    background-color: blue;
    color: #ffffff;
    cursor: pointer; 
}

tr:nth-child(odd) {
    background-color: rgb(39, 39, 238); /* Light blue for odd rows */
}

tr:nth-child(even) {
    background-color: blue; /* Slightly lighter blue for even rows */
}